<!doctype html>
<html>
  <head>
    <title>OrderBot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <h1>OrderBot</h1>
    <div id="chat-container">
      <div class="chat-message system-message">
          </div>
    </div>
    <form id="chat-form">
      <input type="text" name="message" id="message-input" placeholder="Type your message here...">
      <input type="submit" value="Send">
    </form>
    <script>
      $(document).ready(function() {
        $('#chat-form').submit(function(event) {
          event.preventDefault();
          var message = $('#message-input').val();
          $('#chat-container').append('<div class="chat-message user-message"><p>' + message + '</p></div>');
          $('#message-input').val('');
          $.ajax({
            url: '/chat',
            type: 'POST',
            data: { message: message },
            dataType: 'json',
            success: function(response) {
              var botMessage = response.response;
              $('#chat-container').append('<div class="chat-message bot-message"><p>' + botMessage + '</p></div>');
            }
          });
        });
      });
    </script>
  </body>
</html>
