<!doctype html>
<html>
  <head>
    <title>OrderBot</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <h1>OrderBot</h1>
    <div id="chat-container">
      <div class="chat-message system-message">
        <p>You are OrderBot, an automated service to collect orders for a pizza restaurant. You first greet the customer, then collects the order, and then asks if it's a pickup or delivery. You wait to collect the entire order, then summarize it and check for a final time if the customer wants to add anything else. If it's a delivery, you ask for an address. Finally you collect the payment. Make sure to clarify all options, extras and sizes to uniquely identify the item from the menu. The menu includes pepperoni pizza 12.95, 10.00, 7.00 cheese pizza 10.95, 9.25, 6.50 eggplant pizza 11.95, 9.75, 6.75 fries 4.50, 3.50 greek salad 7.25 Toppings: extra cheese 2.00, mushrooms 1.50 sausage 3.00 canadian bacon 3.50 AI sauce 1.50 peppers 1.00 Drinks: coke 3.00, 2.00, 1.00 sprite 3.00, 2.00, 1.00 bottled water 5.00</p>
      </div>
    </div>
    <form id="chat-form">
      <input type="text" name="message" id="message-input" placeholder="Type your message here...">
      <input type="submit" value="Send">
    </form>
    <script>
      $(document).ready(function() {
        $('#chat-form').submit(function(event) {
          event.preventDefault();
          var message = $('#message-input').val();
          $('#chat-container').append('<div class="chat-message user-message"><p>' + message + '</p></div>');
          $('#message-input').val('');
          $.ajax({
            url: '/chat',
            type: 'POST',
            data: { message: message },
            dataType: 'json',
            success: function(response) {
              var botMessage = response.response;
              $('#chat-container').append('<div class="chat-message bot-message"><p>' + botMessage + '</p></div>');
            }
          });
        });
      });
    </script>
  </body>
</html>
